{% extends "layout.html" %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    {% if updatebrand %}
    <div class="col-md-6">
      {% include "_msgprompt.html"%}
      <h1 class="text-center mt-5">Add a brand</h1>
      <form class="" action="" method="post">
        <input type="text" name="brand" value="{{updatebrand.name}}" class="form-control">
        <input type="submit" value="Update Brand" class="btn btn-info mt-2">
      </form>
      <a href="{{url_for('brands')}}" class="btn btn-warning" style="margin-top: -67px; margin-left: 140px">Cancel</a>
      {% else %}
      <div class="col-md-6">
        {% include '_msgprompt.html' %}
        <h1 class="text-center mt-5">Add a category</h1>
        <form class="" action="" method="post">
          <input type="text" name="category" value="{{updatecat.name}}" class="form-control">
          <input type="submit" name="" value="Update Category" class="btn btn-info mt-2">
        </form>
        <a href="{{url_for('category')}}" class="btn btn-warning" style="margin-top: -67px; margin-left: 160px">Cancel</a>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock content %}
