{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bh-white">
<a class="navbar-brand pl-5" href="{{url_for('home')}}">Stop & Shop</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pr-5" href="{{url_for('customer_register')}}">New User?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link pr-5" href="{{url_for('home')}}">Category</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{url_for('login')}}">Administrator</a>
        </li>
  </ul>
</div>
</nav>
<div class="container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


<div class="text-center h1 text-white bg-primary p-2">Login</div>
  {% from "_formhelpers.html" import render_field %}
  {% include '_msgprompt.html'%}
  <form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
  <div>
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
  </div>

  <p><input type="submit" value="Login" class="btn-info"></p>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>



{% endblock content %}
